@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  z-index: 9;
}

.slick-arrow.slick-prev {
  left: -22px;
}
.slick-arrow.slick-next {
  right: -22px;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  background: #fff;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}
